<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>


<div class="container">
    <h3>User details</h3>
    <form>
        <tr th:each="user : ${users}">
            ID: <input type="text" th:value="@{(${user.id})}"></td><br>
            Username: <input type="text" th:value="@{(${user.name})}"></td><br>
            Email: <input type="text" th:value="@{(${user.email})}"></td><br>
            Password: <input type="text" th:value="@{(${user.password})}"><br>

            <td>
                <button type="button" class="btn btn-info">Save</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </form>
</div>


</body>
</html>

