$red:#ef2b2f;
$gray:#ededed;


body{
  #p-registration{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 35px;
    text-align: center;
    width: 100%;
    color: $red;
    margin-left: -8%;
    margin-top: 1%;
    height: 72px;
    display: block;
    bottom: -26px;
    font-weight: 700;


  }

  #section-center{
    font-family: 'Roboto', 'Noto', sans-serif;
    width: 35%;
    margin-top: -2%;
    margin-left: 30%;
    margin-right: 4%;
    padding: 5%;
    padding-bottom: 5%;
    box-shadow: 5px 5px 20px 7px #888888;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;




    #name{
      background-color:$gray;
      width:87%;
      border: none;

    }
    #email{
      background-color:$gray;
      width:87%;
      border: none;

    }
    #date{
      font-size: 25px;
      float: left;
      margin-top: 3%;
    }
    #month{
      -webkit-appearance: none;
      background: url(../images/arrow.png) no-repeat right #fff;
      background-size: 13px 17px;
      background-color:$gray;
      background-position-x: 98%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: none;
      height: 30px;
      width: 25%;
      text-align-last:center;
      font-size: 15px;
      font-family: Calibri;
      font-weight: 900;


    }
    #day {

      -webkit-appearance: none;
      background: url(../images/arrow.png) no-repeat right #fff;
      background-size: 13px 17px;
      background-color:$gray;
      background-position-x: 98%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: none;
      height: 30px;
      width: 17%;
      text-align-last:center;
      font-size: 15px;
      font-family: Calibri;
      font-weight: 900;
    }
    #year{

      -webkit-appearance: none;
      background: url(../images/arrow.png) no-repeat right #fff;
      background-size:13px 17px;
      background-color:$gray;
      background-position-x: 98%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: none;
      height: 30px;
      width: 17%;
      text-align-last:center;
      font-size: 15px;
      font-family: Calibri;
      font-weight: 900;
    }
    #nav{
      margin-top: 4%;
    }

    #box{
      background-color: #d7e1e8;
      border: none;
      width: 9%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

    }
    #paragraph{
      font-size: 14px;
      font-weight: 500;
      //margin-top: 1%;
      margin-left: -20px;
      //float: left;
      width: 400px;
      text-align: right;
      font-family: Calibri;
    }

    #submit{
      background-color: $red;
      font-size: 29px;
      width: 40%;
      height: 60px;
      border-style: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      clear: both;
      cursor: pointer;
      margin-left:-10%;
      margin-top:30px;

    }

  }

  #image{
    margin-left: 22%;
    margin-top: -12%;
  }
}

/* Form Validation error msg. */
form.regform label.error, label.error {
  color: red;
  font-style: italic;
  font-size: 12px;
}