$green: #016A41;


body{
  margin:0%;

  #banner{
    background-image:url("../images/bannerbg.png");
    background-repeat: repeat-x;
    padding-bottom:12px;
    margin-top: 20px;
  }
  #logo{
    display: block;
    margin: 0 auto;
    //position: absolute;
    left: 45%;
    top: 20px;
    z-index: 1;
    padding: 0px 20px 20px 20px;
    background-color: white;

  }
}


//top menu box
#topMenu
  {
    border: 2px solid $green;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: white;
    padding:10px;
    position: relative;
  }



  #topMenu ul{

    list-style: none;
    margin: 0;
    padding: 0px 0px 60px 90px;
    width: 100%;

  }
  #topMenu li{

    text-align: left;
    display: inline;

  }

  #topMenu a{
    text-decoration: none;
    text-align: center;
    padding: 15px 10% 15px 0px;
    color:$green;
    font-weight:normal;
    position: relative;
    float: left;
  }


  #topMenu a:hover:after{
    content:"";
    display: block;
    border: 8px solid transparent; /*triangle*/
    border-bottom-color: $green;
    position: absolute;
    bottom: 0px; //arrow position
    left: 25%; /*arrow adjust*/

}


//article
a{
  font-family: Calibri;
  font-size: 30px;
  color: $green;

  //text-align: left;


}
div {
  #p1-article {
    padding-top: 20px;
    font-family: Calibri;
    text-align: center;
    font-size: 30px;
    margin-bottom: -40px;
    margin-right: 25%;
    margin-left:25%;
    padding-bottom: 5%;

  }
  #p2-article {
    font-family: Calibri;
    text-align: center;
    font-size: 20px;
    margin-bottom: -40px;
    padding-bottom: 5%;
  }
}







